<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/blog-main.css" />

  <title>CS 253 Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    CS 253 Blog
  </a>
  <div id="content">
  
    <div class="post">
      <div class="post-heading">
        <a href="/blog/{{p.key().id()}}" class="post-title">
          {{p.subject}}
        </a>

        <div class="post-date">
          {{p.created}}
        </div>
      </div>

      <div class="post-content">
        {{p.content}}
      </div>
    </div>
    <br><br>
</body>
</html>