<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/css/blog-main.css" />

  <title>CS 253 Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    CS 253 Blog
  </a>
  <div id="content">
  
  <form method="post">
    <label>
      <div>Subject</div>
      <input name="subject" value="{{subject}}">
    </label>

    <label>
      <div>Content</div>
      <textarea name="content">{{content}}</textarea>
    </label>

    <div class="error">{{error}}</div>

    <input type="submit">
  </form>
</body>
</html>